body {
    margin: 0;
    text-align: center;
    user-select: none;
    background: linear-gradient(90deg, orange, purple);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    font-size: 24px;
    padding: 12px;
    font-weight: bold;
}

#header h1 {
    color: lightyellow;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
}

.header-container nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.header-container nav ul li {
    display: inline;
    background: purple;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.4s, transform 0.4s, text-shadow 0.2s;
}

.header-container nav ul li:hover {
    background: darkmagenta;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.header-container nav ul li a {
    text-decoration: none;
    color: white;
}

#showcase {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
}

#showcase div {
    background: linear-gradient(#fff, #aaa);
    color: #333;
    margin-bottom: 15px;
    padding: 15px;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

#showcase div:hover {
    transform: translateY(-20px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}